/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";
@plugin 'tailwind-scrollbar';

@theme {
  --color-custom: #6366F1;
  --color-custom-light: #6366F1;
  --scrollbar-thumb: #6366F1;
}

@layer components {
  .app-v-scrollbar {
    @apply scrollbar-thumb-custom scrollbar-track-custom-light 
        scrollbar-hover:scrollbar-thumb-[#6366F1] 
        scrollbar-active:scrollbar-thumb-indigo-500/50
        scrollbar h-32 overflow-y-scroll;
  }
}